In [98]:
import pandas as pd
import numpy as np

In [99]:
frist_frame_n = 250
dfs = []
X = np.random.uniform(0, 1, frist_frame_n)
Y = np.random.uniform(0, 1, frist_frame_n)
size = np.random.uniform(0.5, 1.25, frist_frame_n)

for i in range(1, 6):
    columns=["frame", "x", "y", "size", "label"]
    df = pd.DataFrame(np.zeros((50 * i, len(columns))), columns=columns)
    df["x"] = X[:50 * i]
    df["y"] = Y[:50 * i]
    df["frame"] = i
    df["size"] = size[:50 * i]
    df["label"] = "blue"
    dfs.append(df)
    
columns=["frame", "x", "y", "size", "label"]
frist_frame_n = 250
df = pd.DataFrame(np.zeros((frist_frame_n, len(columns))), columns=columns)
df["x"] = X
df["y"] = Y
df["frame"] = 5
df["size"] = size
df["label"] = np.random.binomial(1, 0.4, frist_frame_n)
df["label"] = df["label"].replace({
    0: "blue",
    1: "orange"
})
print(df)
print(len(dfs))
dfs.append(df)
print(len(dfs))


for i in range(0, 5):
    frist_frame_n = 6
    columns=["frame", "x", "y", "size", "label"]
    df1 = pd.DataFrame(np.zeros((frist_frame_n, len(columns))), columns=columns)
    df1["frame"] = 6 + i
    df1["x"] = 0.25
    df1["y"] = np.arange(0.0, 0.6, (0.6 - 0.0)/frist_frame_n)
    df1["size"] = 2
    df1["label"] = ["orange", "orange", "orange", "blue", "blue", "blue"]
    dfs.append(df1)

pd.concat(dfs).to_csv("intro_vis.csv")

     frame         x         y      size   label
0        5  0.954460  0.891472  1.054679  orange
1        5  0.841722  0.016791  0.922322  orange
2        5  0.813942  0.658837  1.079359    blue
3        5  0.358055  0.193016  0.824572  orange
4        5  0.387862  0.230487  0.577946  orange
..     ...       ...       ...       ...     ...
245      5  0.294819  0.925349  1.052425    blue
246      5  0.161231  0.111575  1.191600  orange
247      5  0.429750  0.098539  0.887761  orange
248      5  0.310996  0.143681  1.227857  orange
249      5  0.380739  0.197442  0.909335    blue

[250 rows x 5 columns]
5
6

In [100]:
df1["y"]

0    0.0
1    0.1
2    0.2
3    0.3
4    0.4
5    0.5
Name: y, dtype: float64

In [101]:
df

     frame         x         y      size   label
0        5  0.954460  0.891472  1.054679  orange
1        5  0.841722  0.016791  0.922322  orange
2        5  0.813942  0.658837  1.079359    blue
3        5  0.358055  0.193016  0.824572  orange
4        5  0.387862  0.230487  0.577946  orange
..     ...       ...       ...       ...     ...
245      5  0.294819  0.925349  1.052425    blue
246      5  0.161231  0.111575  1.191600  orange
247      5  0.429750  0.098539  0.887761  orange
248      5  0.310996  0.143681  1.227857  orange
249      5  0.380739  0.197442  0.909335    blue

[250 rows x 5 columns]

In [102]:
df["x"] = np.random.uniform(0, 1, frist_frame_n)
df["y"] = np.random.uniform(0, 1, frist_frame_n)
df["frame"] = 0
df[["x", "y"]].plot(kind="scatter", x="x", y="y")

ValueError: Length of values (6) does not match length of index (250)

In [ ]:
df["size"] = np.random.uniform(0.5, 1.25, frist_frame_n)

0        blue
1        blue
2        blue
3      orange
4      orange
        ...
245    orange
246    orange
247    orange
248    orange
249    orange
Name: label, Length: 250, dtype: object

In [ ]:
frist_frame_n = 5

In [ ]:
pd.concat([df, df1]).to_csv("intro_vis.csv")